<h1 class="text-center">Matrix</h1>
<hr>
<chart :source="<%= @answers.to_json %>"></chart>
<hr>
<div class="text-right">
  <%= link_to ">>>", challenge_report_path(@challenge), :class => "btn btn-primary" %>
</div>
