<h1>Select up to 5 of the most appropriate ideas</h1>

<% @challenge.answers.each do |answer| %>
  <answer :input="<%= answer.to_json %>"></answer>
<% end %>
<br>
<br>
<%= link_to ">>>", challenge_prepare_path(@challenge) %>
