<div>
  <h1 class="text-center">Select up to 5 of the most appropriate ideas</h1>
<hr>
</div>
<div>
  <% @challenge.answers.each do |answer| %>
    <answer :input="<%= answer.to_json %>"></answer>
  <% end %>
  <hr>
  <div class="text-right">
    <%= link_to ">>>", challenge_intent_path(@challenge), :class => "btn btn-primary"%>
  </div>
</div>
