// Place all the styles related to the Challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.btn-send {
  width: 200px;
  height: 50px;
}
.btn-idea {
  width: 100px;
}

.frm-em {
  width: 30%;
}
