<%

navigation = [
  { :params => { "controller" => 'challenge', "action" => 'new', "initial" => true, "quick" => true,  "complete" => true }, :title => 'Intro' },
  { :params => { "controller" => 'challenge', "action" => 'show', "quick" => true, "complete" => true }, :title => 'Challenge' },
  { :params => { "controller" => 'challenge', "action" => 'result', "quick" => true, "complete" => true  }, :title => 'Results' },
  { :params => { "controller" => 'answer', "action" => 'index', "complete" => true }, :title => 'Sorting' },
  { :params => { "controller" => 'answer', "action" => 'compare', "complete" => true }, :title => 'Cost / Impact' },
  { :params => { "controller" => 'challenge', "action" => 'matrix', "complete" => true }, :title => 'Matrix' },
  { :params => { "controller" => 'challenge', "action" => 'report', "quick" => true, "complete" => true  }, :title => 'Report' }
]
%>

<ul>
  <% navigation.each do |nav| %>
      <% if (@challenge and nav[:params].has_key?(@challenge.mode)) or nav[:params].has_key?("initial")  %>
        <li>
          <% if nav[:params]["action"] == controller.action_name %>
            <span style="color:red"><%= nav[:title] %></span>
          <% else %>
            <%= nav[:title] %>
          <% end %>
        </li>
      <% end %>
  <% end %>
</ul>
